 <div class="row-fluid before_submit">
      <div class="span10">
        <%= image_tag('/assets/like_gate.jpg', :width => '671px') %>
      </div>
 </div>

 <div class="span8">
        <div class="fb-like" data-href="https://www.facebook.com/pages/Captcha/560157060737950" data-width="450" data-show-faces="false" data-send="false">
         </div>
 </div>

<div id="fb-root"></div>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
appId : '223055797873639',
status : true, // check login status
cookie : true, // enable cookies to allow the server to access the session
xfbml : true // parse XFBML
});

window.fbAsyncInit = function() {
FB.Canvas.setAutoResize();
}
</script>
<script>
FB.Event.subscribe('edge.create',
function(response){
window.top.location.href = 'https://www.facebook.com/pages/Captcha/560157060737950?id=560157060737950&sk=app_223055797873639&ref=ts';
});

</script>
