<h1> Like us to enter competition </h1>

 <div class="span8">
      <div class="fb-like" data-href="https://www.facebook.com/pages/Captcha/560157060737950" data-width="450" data-show-faces="false" data-send="false">
</div>
    </div>
